<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">

      <div>

        <h2 *ngIf="!(editForm||approverForm)"><mat-icon></mat-icon>Add Product</h2>
        <h2 *ngIf="editForm"><mat-icon></mat-icon>Modify Product</h2>
        <h2 *ngIf="approverForm"><mat-icon></mat-icon>Approve Product</h2>
      </div>

    </div>
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit(addProductForm.value)" class="form">

      <mat-card>
        <mat-card-content>
         

          <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="16px grid">

            
              <mat-form-field fxFlex="25%" fxFlex.lt-sm="100%" *ngIf="editForm||approverForm">
                <input matInput placeholder="Product Id" formControlName="productId">
  
              </mat-form-field>
              <mat-form-field fxFlex="25%" fxFlex.lt-sm="100%" *ngIf="editForm||approverForm">
                <input matInput placeholder="Initial Addition Date" formControlName="initialAdditionDate">
  
              </mat-form-field>
              <div class="break" *ngIf="editForm||approverForm"></div> 
              <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%">
                <mat-select formControlName="productManufacturer" placeholder="Product Manufacturer">            
                  <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!apControls['productManufacturer'].valid && apControls['productManufacturer'].touched">
                  {{ getError('productManufacturer') }}
                </mat-error>
              </mat-form-field>
         

            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%">
              <mat-select formControlName="productManufacturerCountry" placeholder="Product Manufacturer Country">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['productManufacturerCountry'].valid && apControls['productManufacturerCountry'].touched">
                {{ getError('productManufacturerCountry') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%">
              <input matInput placeholder="Product Name" formControlName="productName">
              <mat-error *ngIf="!apControls['productName'].valid && apControls['productName'].touched">
                {{ getError('productName') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%">
              <input matInput placeholder="License Number" formControlName="licenseNumber">
              <mat-error *ngIf="!apControls['licenseNumber'].valid && apControls['licenseNumber'].touched">
                {{ getError('licenseNumber') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%">
              <mat-select formControlName="productApprovingAuthority" placeholder="Product Approving Authority">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['productApprovingAuthority'].valid && apControls['productApprovingAuthority'].touched">
                {{ getError('productApprovingAuthority') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <mat-select formControlName="dosageForm" placeholder="Dosage Form">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['dosageForm'].valid && apControls['dosageForm'].touched">
                {{ getError('dosageForm') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <mat-select formControlName="packType" placeholder="Pack Type">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['packType'].valid && apControls['packType'].touched">
                {{ getError('packType') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%">
              <mat-select formControlName="productStatus" placeholder="Product Approval Status">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['productStatus'].valid && apControls['productStatus'].touched">
                {{ getError('productStatus') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <mat-select formControlName="packSize" placeholder="Pack Size">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['packSize'].valid && apControls['packSize'].touched">
                {{ getError('packSize') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <mat-select formControlName="pricePerPack" placeholder="Price per Pack">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['pricePerPack'].valid && apControls['pricePerPack'].touched">
                {{ getError('pricePerPack') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <input matInput placeholder="Tax%" formControlName="taxPercentage">
              <mat-error *ngIf="!apControls['taxPercentage'].valid && apControls['taxPercentage'].touched">
                {{ getError('taxPercentage') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <mat-select formControlName="taxationType" placeholder="Taxation Type">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['taxationType'].valid && apControls['taxationType'].touched">
                {{ getError('taxationType') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <mat-select formControlName="strength" placeholder="Strength">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['strength'].valid && apControls['strength'].touched">
                {{ getError('strength') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%" fxFlex.lt-sm="50%">
              <mat-select formControlName="currency" placeholder="Currency">            
                <mat-option *ngFor="let statusVal of statusList" [value]="statusVal">{{statusVal}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['currency'].valid && apControls['currency'].touched">
                {{ getError('currency') }}
              </mat-error>
            </mat-form-field>

    

            <!-- upload file -->
            <div fxFlex="50%" fxFlex.lt-sm="100%">
              <mat-toolbar *ngIf="currentFile" class="progress-bar">
                <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
                <span class="progress">{{ progress }}%</span>
              </mat-toolbar>
            
              <mat-form-field>
                <div>
                  <mat-toolbar>
                    <input matInput placeholder="Product Photo" [value]="fileName" />
            
                    <button
                      mat-flat-button
                      color="primary"
                      [disabled]="!currentFile"
                      (click)="upload()"
                    >
                      Upload
                    </button>
                  </mat-toolbar>
            
                  <input
                    type="file"
                    id="fileInput"
                    (change)="selectFile($event)"
                    name="fileInput"
                  />
                </div>
              </mat-form-field>
            </div> 

            <!--  -->

           
          
            <mat-divider fxFlex="95%"></mat-divider>

            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%" *ngIf="!approverForm">
              <mat-select formControlName="approver" placeholder="Select Approver">

                <mat-option *ngFor="let al of approverList" [value]="al">{{al}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['approver'].valid && apControls['approver'].touched">
                {{ getError('approver') }}
              </mat-error>
             

            </mat-form-field>
            <div class="break"></div> 

            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%" *ngIf="approverForm">
              <mat-select formControlName="approvalStatus" placeholder="Select Approval Status">

                <mat-option *ngFor="let al of approvalStatusOption" [value]="al">{{al}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!apControls['approvalStatus'].valid && apControls['approvalStatus'].touched">
                {{ getError('approvalStatus') }}
              </mat-error>             
            </mat-form-field>
            <mat-form-field fxFlex="50%" fxFlex.lt-sm="100%" *ngIf="approverForm">
              <input matInput placeholder="Comments" formControlName="approvalComments">
            
            </mat-form-field>


          </div>



        </mat-card-content>
      </mat-card>

      <div class="container" fxLayout="row" fxLayoutAlign="space-between center">

        <div>

          <button mat-raised-button [routerLink]="['/product']" class="demo-button">
            Cancel
          </button>
        </div>
        <div style="margin:18px 0px">
          <button mat-raised-button (click)="addProductForm.reset();" class="demo-button">
            Clear
          </button>
          <button mat-raised-button (click)="save()" type="submit" class="demo-button">
            Save
          </button>
        </div>
      </div>
    </form>

  </div>
</div>