<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">

      <div>

        <h2><mat-icon>all_out</mat-icon>Products</h2>
      </div>
      <div style="margin:18px 0px">
        <button mat-raised-button (click)="addData()" class="demo-button">
          Add New Product
        </button>
        <button mat-raised-button [disabled]="!dataToDisplay.length" (click)="removeData()" class="demo-button">
          Add New Bundle
        </button>
      </div>
    </div>

    <mat-card>
      <mat-card-content>



        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
          <!-- Client Column -->
          <ng-container matColumnDef="client" class="height">
            <th mat-header-cell *matHeaderCellDef>Client</th>
            <td mat-cell *matCellDef="let element"  class="height">{{element.client}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name"  class="height">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.name}}</td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code" class="height">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.code}}</td>
          </ng-container>


          <!-- conatactName Column -->
          <ng-container matColumnDef="conatactName" class="height">
            <th mat-header-cell *matHeaderCellDef>Contact Name</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.conatactName}}</td>
          </ng-container>
          <!-- conatactNumber Column -->
          <ng-container matColumnDef="conatactNumber" class="height">
            <th mat-header-cell *matHeaderCellDef>Contact Number</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.conatactNumber}}</td>
          </ng-container>
          <!-- conatactEmailNumber Column -->
          <ng-container matColumnDef="conatactEmail" class="height">
            <th mat-header-cell *matHeaderCellDef>Contact Email</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.conatactEmail}}</td>
          </ng-container>
          <!-- currency Column -->
          <ng-container matColumnDef="currency" class="height">
            <th mat-header-cell *matHeaderCellDef>Currency</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.currency}}</td>
          </ng-container>
          <!-- Active Column -->
          <ng-container matColumnDef="active" class="height">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.active}}</td>
          </ng-container>
          <!-- lastUpdated Column -->
          <ng-container matColumnDef="lastUpdated" class="height">
            <th mat-header-cell *matHeaderCellDef>Last Updated</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.lastUpdated}}</td>
          </ng-container>
          <!-- lastUpdatedBy Column -->
          <ng-container matColumnDef="lastUpdatedBy" class="height">
            <th mat-header-cell *matHeaderCellDef>Last Updated By</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.lastUpdatedBy}}</td>
          </ng-container>
          <!-- Actions-->
          <ng-container matColumnDef="actions" class="height">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element" class="height">{{element.actions}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

      </mat-card-content>
    </mat-card>

  </div>
</div>